<a href="https://colab.research.google.com/github/acecoder7/Star-pattern-programs/blob/master/STAR_PATTERN_PROGRAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,6):
  for j in range(5,0,-1):
    if j>i:
      print('',end=' ')
    else:
      print("*", end=' ')
  print()

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
for i in range(1,6):
  for j in range(5,0,-1):
    if j>i:
      print(' ',end=' ')
    else:
      print('*',end=' ')
  print()

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
for i in range(1,6):
  for j in range(1,i):
    print(' ',end=' ')
  for k in range(0,6-i):
    print('*',end=' ')
  print()

* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
for i in range(1,10):
  if i<6:
    for j in range(1,6-i):
      print(' ',end=' ')
    for k in range(1,i+1):
      print('*', end=' ')
    for l in range(1,i):
        print('*', end=' ')
    for m in range(2,6-i):
      print(' ',end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
for i in range(1,10):
  if i<6:
    for j in range(1,6-i):
      print(' ',end=' ')
    for k in range(1,i+1):
      print('*', end=' ')
    for l in range(1,i):
      print('*', end=' ')
    for m in range(1,6-i):
      print(' ',end=' ')
    print()
  else:
    for a in range(6-i,1):
      print(' ',end=' ')
    for b in range(0,10-i):
      print('*',end=' ')
    for c in range(1,10-i):
      print('*',end=' ')
    for d in range(6-i,1):
      print(' ', end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
for i in range(1,8,2):
  for j in range(7,0,-1):
    if i>=j :
      print('*',end=' ')
    else:
      print('',end=' ')
  print()
for i in range(2,10,2):
  for j in range(1,8,1):
    if i<j :
      print('*',end=' ')
    else:
      print('',end=' ')
  print()

      *
    * * *
  * * * * *
* * * * * * *
  * * * * *
    * * *
      *

In [ ]:
 for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(5,0,-1):
  for j in range(i,6):
    print(j,end=' ')
  print()

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [ ]:
for i in range(1,6):
  for j in range(5,5-i,-1):
    print(j,end=' ')
  print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
for i in range(1,6):
  for j in range(5,5-i,-1):
    print(i,end=' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
for i in range(0,6):
  for j in range(5,0,-1):
    if j>i :
      print(' ',end=' ')
    else:
      print(j,end=' ')
  print()

        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [ ]:
for i in range(0,5):
  for j in range(1,5-i,1):
    print(' ',end=' ')
  for j in range(1,i+2):
    print(j,end=' ')
  print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1, 6):
    num = 1
    for j in range(6, 0, -1):
        if j > i:
            print(" ", end=' ')
        else:
            print(num, end=' ')
            num += 1
    print("")

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5